@model Inocrea.CodaBox.ApiServer.Entities.Transactions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Transactions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StatementId" class="control-label"></label>
                <select asp-for="StatementId" class ="form-control" asp-items="ViewBag.StatementId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompteBancaireId" class="control-label"></label>
                <select asp-for="CompteBancaireId" class ="form-control" asp-items="ViewBag.CompteBancaireId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StructuredMessage" class="control-label"></label>
                <input asp-for="StructuredMessage" class="form-control" />
                <span asp-validation-for="StructuredMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueDate" class="control-label"></label>
                <input asp-for="ValueDate" class="form-control" />
                <span asp-validation-for="ValueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdresseId" class="control-label"></label>
                <input asp-for="AdresseId" class="form-control" />
                <span asp-validation-for="AdresseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

