
@using Microsoft.AspNetCore.Identity

@inject SignInManager<CodaBoxUser> SignInManager
@inject UserManager<CodaBoxUser > UserManager

@if (User.Identity.IsAuthenticated)
{
    <a class="nav-link text-dark navbar-left" asp-controller="Account" asp-action="Logout">@User.Identity.Name, Logout</a>

}
else
{
    <a class="nav-link text-dark navbar-left" asp-controller="Account" asp-action="Login">Login</a>

}